#header {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}

.description {
  font-family: serif;
}

body {
  background-color: #0d1317;
  color: #47a025;
}

#location-colors {
  color: #c4e7d4;
  font-family: 'Times New Roman', Times, serif;
}

.formacao {
  font-size: 20px;
}

.list-item-01 {
  font-size: 0.8em;
}

.list-item-02 {
  font-size: 0.7em;
}

#minha-foto {
  float: left;
  padding: 10px;
  background-color: #507DBC;
  margin-right: 30px;
  margin-bottom: 40px;
}

